{% extends 'layout.html' %}
{% block body %}
<h2> Home </h2>
<table>
    <tr>
        <th> Game No. </th>
        <th> Game Name </th>
        <th> Developer </th>
        <th> Hours </th>
        <th> Genre </th>
    </tr>
    {% for game in game %}
    <tr>
        <td> {{ game.id }} </td>
        <td> {{ game.name }} </td>
        <td> {{ game.dev }} </td>
        <td> {{ game.hours }} </td>
        <td> {{ game.genre }} </td>
        <td><a href="{{ url_for('delete', tid=game.id) }}"> delete </a></td>
    </tr>
    {% endfor %}
</table>
{% endblock body %}